RewriteEngine on
ErrorDocument 404 /error.php?uri=%{REQUEST_URI}
RewriteRule ^\..*$ - [L,R=404]
RewriteRule ^.*\.html?$ - [L,R=404]
RewriteRule ^utils/.*$ - [L,R=404]
RewriteRule ^controller/.*$ - [L,R=404]
RewriteRule ^model/.*$ - [L,R=404]
RewriteRule ^views/.*$ - [L,R=404]
RewriteRule ^certificates/.*$ - [L,R=404]
RewriteRule ^system/.*$ - [L,R=404]
#RewriteRule ^([A-Za-z0-9-]+)/?$ /index.php?test=$1 [NC]

<IfModule mod_headers.c>
    Header set X-Frame-Options: "DENY"
    Header set X-XSS-Protection: "1; mode=block"
</IfModule>